html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*---------- css reset -Acima--------------*/
/* GERAL  */
#bgAnuncio{background-position: 50% 0 !important;position: absolute;height:100%;width: 100%;}
	#bgAnuncio a{position: absolute;z-index: 0;width: 100%;height: 100%;}
.zoomContainer{z-index:9999}
.mg_canto { margin-left: 10px}
.mg_top{margin-top: 10px}
.mg_right{margin-right: 10px}
.strike{text-decoration: line-through;}
a {text-decoration: none !important;}
a img{border: none}
a:hover{text-decoration: underline}
input[type="text"], input[type="password"]{background: #fff !important}
/* GERAL  */
body{background: #fff; font: 12px Arial,tahoma,verdana;color: #404040; margin: 0 0; padding: 0 0}
#bodymain{min-height: 300px}
.container{width: 990px;margin: 0 auto; border-left: 1px solid #ddd; border-right: 1px solid #ddd; background: #fff;position: relative;z-index: 2;}
/*	HEADER  */
#header{position: relative; z-index: 9;}
#header .topHeader {background: #1381ce;overflow: hidden; min-height: 90px; padding-top: 10px}
.maincenter{width: 990px;background: none;overflow: visible;}
.header_fone{color: #fff; height: 13px; width: 650px; margin-left: 6px; text-align: right; font-weight: bold; float: left}			
	.search { float: left; position:relative; margin-top: 4%; left: 80px; width: 59%; }
		.inputtext input{padding: 10px; float: left;background: #fff !important;width: 437px !important;margin: -1px 0 0 7px !important;height: 14px !important;box-shadow: 0 0 !important;border: 1px solid #eee !important;}
			
		.inputButton{margin: -1px 0 0 -6px !important;height: 36px !important;border-radius: 0; border-top-right-radius: 5px !important;border-bottom-right-radius: 5px !important;box-shadow: 0 0 !important;border: none !important;}	
#logo{ color: #fff; font-size: 20px; float: left; max-width: 150px}
	#logo img{height: 93px}

#log{overflow: hidden;width:174px;height:15px;}

.menuWrap{background: #e5f1fb;border-bottom: 1px solid #ddd;height: 63px; border-top: 2px solid #0AA}
    .headerMenu{width: 990px;margin: 0 auto;position: relative;}
    .headerMenu li {display: inline-block;margin: 0 -4px 0 0;vertical-align: top;float: left}
    .headerMenu li a b {display: block;border-left: 1px solid #d9e5ef;padding: 4px 10px;cursor: pointer;}
    .headerMenu li a {color: #565657;}
/*	HEADER  */
/*	BLOCO DESTAQUE */	
.bloco_destaque{background: #fff;margin-top: 1px;}	
	.mainBanner {width: 990px;margin: 0 auto;height: 400px;background: none;overflow: visible; padding-top: 5px}
		.banner_left{ width: 256px;height: 100%;float: left; vertical-align: middle}
		.preco_real{color: #39a3f1; font-size: 26px; font-weight: bold}			
		.carousel{ height: 100%; float: right; width: 678px; border: none; }
			.carousel a{ color: #565657 !important;}
                    .container_elements{ width: 678px}
			.banner_img_destaque{float: left; padding-top: 10px}
				.banner_img_produto{height: 225px; max-width: 282px}
				.banner-produto{ max-height: 211px}
			.main_descricao_produto{float:right;width: 395px;height: 272px}
			.banner_title_produto{font-size: 16px; font-weight: bold; margin-top: 10px; margin-bottom: 15px}
				.banner_desc_produto{margin-bottom: 10px; min-height: 130px}
				.banner_preco{margin-bottom: 10px}
			.main_banner_galeria{border-top: 1px solid #eee; width: 100%; height: 151px; clear: both; padding-top: 10px}
				.main_banner_galeria li{display:inline-block; float: left; margin: 0 20px; }
					.main_banner_galeria li img { height: 100px; width: 100px}
	.faixa_banner{background: #1381ce; height: 37px; margin-bottom: 10px;}
		.faixa_banner .maincenter{ color: #fff; text-align: center;padding-top: 12px; font-size: 16px;}
/*	BLOCO DESTAQUE */
/*	VITRINE DE PRODUTOS  */		
#content{float: left; text-align: center;position: relative;width: 81%; margin-left: 1%; padding-bottom: 20px}
    #content ul li{display: inline-block; float: left; border-bottom: 1px solid #eee; padding: 6px 5%; width: 184px;}
.vitrineProdutos {overflow: hidden;clear: both; width: 100%;  }
	.produtos_separados img{height: 185px;}
	.vitrine_produto_img{height: 190px; max-width: 240px;}
	.content_produto .preco_real{font-size: 20px}
.title_destaque{color: #39a3f1; font-size: 20px; font-weight: bold; margin-left: 10px; border-bottom: 1px solid #ddd; clear: both}
.title_destaque span{color: #0d0; font-style: italic;}

/*	VITRINE DE PRODUTOS  */
/*	SIDEBAR */	
.headersiddebar{background: #ddd; color: #0083ca; padding: 3px 0; padding-left: 5px; font-size: 14px; font-weight: bold}
#esqsidebar{float: left; min-height: 500px; width: 17%; background: #f2f2f2; margin-left: 0; border: 1px solid #e5e5e5; border-top: 2px solid #0083ca}
    #esqsidebar a {color: #565657;}
    #esqsidebar li {border-bottom: 1px solid #eee; overflow: hidden; margin-left: 10px; padding: 4px 0; list-style: none}
     
/*	SIDEBAR  */	
/* LOGIN  */

.identificacao_left, .identificacao_right {border: 1px solid #fff; width: 480px; min-height: 350px; margin-top: 20px; padding-bottom: 20px}
	.identificacao_left{ float: left;  }
	.identificacao_right{ float: right; }
		.area_login_inputs{background: #eee; padding: 5px; margin-top: 10px}
		
.container_cadastro_fj{padding: 5px; margin-top: 10px}
	.container_cadastro_fj td{padding: 4px}
/* LOGIN  */
/*	FOOTER  */
#footer{background: #1381ce;clear: both;min-height: 90px; color: #fff; text-align: center; margin-top: 40px; padding-top: 10px }
/* FOOTER  */


/* CARRINHO DE COMPRAS */
	
.carrinho {float: right;width: 175px;height: 145px;position: relative; margin-top: -23px; margin-right: 3px}	
	.checkcarrinho{background: #0aa; width: 100%; height: 39px; font-weight: bold; color: #fff; padding-top: 5px; cursor: pointer	}
		.checkcarrinho img{float: left; margin-right: 10px; margin-left: 5px}
		.intens_carrinho{margin-left: 10px; background: #0d0; padding: 5px;}
	.form_carrinho { padding-top: 20px}		
		.form_carrinho a{ color: #fff; font-weight: bold;}
		


#carrinho-container{width: 817px; height: 110px; margin-top: -30px; overflow-x: hidden;}
#carrinho-produtos{width: 812px;height: 95px;float: left;margin-top: 0px;background: #fff;border: 1px solid #ddd;box-shadow: 1px 3px 5px #aaa;}
#carrinho-container {  z-index: 300; top: 0;margin-left: 176px;}
#carrinho-produtos .content_produto{float: left !important; }
#carrinho-produtos .content_produto li{float: left !important; width: 100px; display: inline;  background: #fff; text-align: center;}
#carrinho-produtos .content_produto img{height: 80px; margin-top: 10px; margin-left: 7px; box-shadow: 0 0 3px #999;}
#carrinho-produtos .content_produto div{display: none}
#carrinho-container .ui-state-hover{border: 2px dashed #39a3f1; background: #fff}
		
#shopping-cart {color:#000;	line-height: 16px;position: fixed;bottom: 0%;left: 0%;height: 120px;width: 100%;z-index: 234;background: #fff ;
	border-top: 1px solid #0aa;
	background: -moz-linear-gradient(top, rgba(255,255,255,0.7) 0%, rgba(243,243,243,0.7) 50%, rgba(237,237,237,0.7) 51%, rgba(255,255,255,0.7) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.7)), color-stop(50%,rgba(243,243,243,0.7)), color-stop(51%,rgba(237,237,237,0.7)), color-stop(100%,rgba(255,255,255,0.7)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(243,243,243,0.7) 50%,rgba(237,237,237,0.7) 51%,rgba(255,255,255,0.7) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(243,243,243,0.7) 50%,rgba(237,237,237,0.7) 51%,rgba(255,255,255,0.7) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(243,243,243,0.7) 50%,rgba(237,237,237,0.7) 51%,rgba(255,255,255,0.7) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffffff', endColorstr='#b3ffffff',GradientType=0 );
	background: linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(243,243,243,0.7) 50%,rgba(237,237,237,0.7) 51%,rgba(255,255,255,0.7) 100%);
	-webkit-box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.4), 0px 0px 15px rgba(204, 204, 204, 0.7);
	-moz-box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.4), 0px 0px 15px rgba(204, 204, 204, 0.7);
	box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.4), 0px 0px 15px rgba(204, 204, 204, 0.7);
	display: none;
}

.shopping-cart h3 {	margin: 0 0 5px 0;	padding: 0 0 7px 0; font-size: 14px; font-weight: bold; color: #666}
.adj_cart{margin-left: -890px !important;}
.shopping-cart .inside {position: relative;	width: 1000px;margin:0 auto;padding: 5px;}
.shopping-cart .inside .basket-icons {float: left;margin: 0 2px;width: 140px;}
.shopping-cart .inside #trash {	position: absolute;	top: 5px;right: 20px;display: none;}
.shopping-cart .inside #trash img {	margin-left: 30px;}
#total {position: absolute;	top: 37px;	left: 25px;	z-index: 239;	display: none;	font-size: 10px;font-weight: bold;}

.adicione{font-size: 19px; margin-top: 20px; font-weight: bold; color: #2A922E;}

/* CARRINHO DE COMPRAS */

.rating{margin: 10px 50px}
