<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
http://www.springframewolrk.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	
	<bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
		  <property name="driverClass"><value>com.mysql.jdbc.Driver</value></property>
		  <property name="url"><value>jdbc:mysql://127.0.0.1:3306/Escola</value></property>
		  <property name="username"><value>root</value></property>
	      <property name="password"><value>123456</value></property>
	</bean>	

	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="persistenceUnitName" value="EscolaPU" />
	</bean>

	<bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<tx:annotation-driven />
	
	<bean id="usuarioDAO" class="br.com.eniac.escola.dao.imp.UsuarioDAOImp" />
	<bean id="alunoDAO" class="br.com.eniac.escola.dao.imp.AlunoDAOImp" />
	<bean id="categoriaDAO" class="br.com.eniac.escola.dao.imp.CategoriaDAOImp" />
	<bean id="professorDAO" class="br.com.eniac.escola.dao.imp.ProfessorDAOImp" />
	<bean id="produtoDAO" class="br.com.eniac.escola.dao.imp.ProdutoDAOImp" />
	<bean id="layoutDAO" class="br.com.eniac.escola.dao.imp.LayoutDAOImp" />
		
	<bean id="loginMB" class="br.com.eniac.escola.mb.LoginMB">
		<property name="usuarioDAO" ref="usuarioDAO" />
	</bean>	
	
	<bean id="alunoMB" class="br.com.eniac.escola.mb.AlunoMB">
		<property name="alunoDAO" ref="alunoDAO" />
	</bean>
	
	<bean id="produtoMB" class="br.com.eniac.escola.mb.ProdutoMB">
		<property name="produtoDAO" ref="produtoDAO" />
	</bean>
	
	<bean id="professorMB" class="br.com.eniac.escola.mb.ProfessorMB">
		<property name="professorDAO" ref="professorDAO" />
	</bean>
	
	<bean id="layoutMB" class="br.com.eniac.escola.mb.LayoutMB">
		<property name="layoutDAO" ref="layoutDAO" />
	</bean>
	
	
	<bean id="categoriaMB" class="br.com.eniac.escola.mb.CategoriaMB">
		<property name="categoriaDAO" ref="categoriaDAO" />
	</bean>
	
	<bean id="usuarioMB" class="br.com.eniac.escola.mb.UsuarioMB">
		<property name="usuarioDAO" ref="usuarioDAO" />
	</bean>
	
</beans>

